<footer>

    <br />

    <p class="connect-below left-block tiny">      
        <strong class="fancy"><em><a href="/">Home</a></em></strong>, 
        <strong class="fancy"><em><a href="/councillors">Action</a></em></strong>, 
        <strong class="fancy"><em><a href="https://www.plantbaseduniversities.org" target="_blank">PBU Main Site</a></em></strong>.
        <br />
        Website by <strong class="fancy"><em><a href="https://xhirp.com" target="_blank">Oscar Mitcham</a></em></strong>.
        <br /><br />
    </p>

    <p class="connect-below connect-above">
        <img src="/assets/images/pictures/SummerCamp2023(2).jpeg" class="center banner" />    
        <br />
    </p>
</footer>
    