// Font imports (paths local to `/assets/css/styles.scss`
@font-face {
    font-family: Fucxed;
    src: url(../fonts/FUCXEDCAPS-v4.ttf) format('truetype');
}
@font-face {
    font-family: Heuristica;
    src: url(../fonts/Heuristica/Heuristica-Regular.otf);
}
@font-face {
    font-family: Heuristica;
    src: url(../fonts/Heuristica/Heuristica-Italic.otf);
    font-style: italic;
}
@font-face {
    font-family: Heuristica;
    src: url(../fonts/Heuristica/Heuristica-Bold.otf);
    font-weight: bold; 
}
@font-face {
    font-family: Heuristica;
    src: url(../fonts/Heuristica/Heuristica-BoldItalic.otf);
    font-style: italic;
    font-weight: bold;
}

$heading-stack: Fucxed, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$text-stack: helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$fancy-stack: Heuristica, $text-stack;

body {
    font-family: $text-stack;
    font-size: max(14px, 10ch)
}